#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main_container {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}

.left_side_container,
.right_side_container {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.hold_container {
  height: 150px;
}

.left_side_container {
  justify-content: space-between;
}

.score,
.operation,
.next_container {
  font-weight: bold;
}

.score {
  margin-top: 30px;
}

.next_container {
  height: 100px;
}

.score p,
.operation p{
  margin: 0 0 0 0;
}

.operation {
  margin-top: 50px;
}